%h1 Listing notes

%table.ui.table.segment
  %thead
    %tr
      %th Title
      %th Body
      %th created_at
      %th
  %tbody
    = render @notes
  %tfoot
    %tr
      %th{colspan: 4}
        = link_to 'New Note', new_note_path, class: 'ui button blue'
